.icon {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
}

// .sprite-arrow-gold {
//     width: 21px;
//     height: 21px;
//     background-position: -10px -10px;
// }

// .sprite-arrow-gold-tr {
//     width: 22px;
//     height: 22px;
//     background-position: -51px -10px;
// }

// .sprite-arrow-silver-tr {
//     width: 22px;
//     height: 22px;
//     background-position: -93px -10px;
// }

.icon_cart {
    width: 18px;
    height: 24px;
    background-position: -135px -10px;
}

// .sprite-controls {
//     width: 40px;
//     height: 73px;
//     background-position: -173px -10px;
// }

.icon_cup {
    width: 48px;
    height: 44px;
    background-position: -233px -10px;
}

.icon_dev {
    width: 44px;
    height: 40px;
    background-position: -10px -74px;
}

.icon_heart {
    width: 44px;
    height: 44px;
    background-position: -233px -74px;
}

.icon_play {
    width: 100px;
    height: 100px;
    background-position: -10px -138px;
}

.icon_link {
    width: 26px;
    height: 26px;
    background-position: -130px -138px;
}

.icon_lunch {
    width: 54px;
    height: 44px;
    background-position: -176px -138px;
}

.icon_marketing {
    width: 52px;
    height: 36px;
    background-position: -130px -202px;
}
.icon_pen {
    width: 49px;
    height: 49px;
    background-position: -301px -10px;
}
.icon_people {
    width: 44px;
    height: 44px;
    background-position: -274px -148px;
}

.icon_quote {
    width: 44px;
    height: 44px;
    background-position: -274px -212px;
}

.icon_search {
    width: 24px;
    height: 24px;
    background-position: -10px -276px;
}

.icon_search-blick {
    width: 26px;
    height: 25px;
    background-position: -54px -276px;
}

.icon_settings {
    width: 44px;
    height: 44px;
    background-position: -100px -276px;
}
